<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="try">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.27682456221956E-18 -0.005 0"
        rpy="0 0 0" />
      <mass
        value="0.0002" />
      <inertia
        ixx="3.33333333333334E-09"
        ixy="1.72329294281881E-26"
        ixz="3.0309750528515E-26"
        iyy="1.73333333333333E-09"
        iyz="-8.32068698519475E-26"
        izz="1.73333333333334E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="sec01">
    <inertial>
      <origin
        xyz="8.13151629364128E-19 0.0025 0"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="4.25424005173618E-08"
        ixy="4.73496022666977E-40"
        ixz="1.99136488891557E-56"
        iyy="7.85398163397449E-08"
        iyz="7.588784500269E-41"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec01.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec01.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint01"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="sec01" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec02">
    <inertial>
      <origin
        xyz="4.33680868994202E-19 0.0025 0"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="4.25424005173618E-08"
        ixy="5.51453741702018E-25"
        ixz="-1.10290748340404E-24"
        iyy="7.85398163397448E-08"
        iyz="-1.37863435425504E-25"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec02.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec02.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint02"
    type="fixed">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="sec01" />
    <child
      link="sec02" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec03">
    <inertial>
      <origin
        xyz="3.25260651745651E-19 0.0025 0"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="4.25424005173618E-08"
        ixy="-5.51453741702019E-25"
        ixz="-4.03250548619601E-24"
        iyy="7.85398163397448E-08"
        iyz="2.75726870851009E-25"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec03.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec03.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint03"
    type="fixed">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="sec02" />
    <child
      link="sec03" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec04">
    <inertial>
      <origin
        xyz="-2.71050543121376E-19 0.0025 0"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="4.25424005173618E-08"
        ixy="5.5145374170202E-25"
        ixz="-5.51453741702019E-24"
        iyy="7.85398163397449E-08"
        iyz="-1.15493625579607E-39"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec04.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec04.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint04"
    type="fixed">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="sec03" />
    <child
      link="sec04" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec05">
    <inertial>
      <origin
        xyz="-1.62630325872826E-19 0.0025 0"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="4.25424005173618E-08"
        ixy="-2.75726870851008E-25"
        ixz="-1.93008809595706E-24"
        iyy="7.85398163397448E-08"
        iyz="-1.13455377415228E-41"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec05.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec05.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint05"
    type="fixed">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="sec04" />
    <child
      link="sec05" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec06">
    <inertial>
      <origin
        xyz="-2.00577401909818E-18 0.0025 -1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="4.25424005173618E-08"
        ixy="1.37863435425504E-25"
        ixz="-6.37618388842958E-25"
        iyy="7.85398163397448E-08"
        iyz="3.34347224068477E-39"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec06.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec06.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint06"
    type="fixed">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="sec05" />
    <child
      link="sec06" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec07">
    <inertial>
      <origin
        xyz="-1.84314369322536E-18 0.0025 0"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="4.25424005173618E-08"
        ixy="-1.88326956163455E-39"
        ixz="2.35098870164457E-38"
        iyy="7.85398163397448E-08"
        iyz="1.88906772285313E-39"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec07.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec07.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint07"
    type="fixed">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="sec06" />
    <child
      link="sec07" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec08">
    <inertial>
      <origin
        xyz="-1.62630325872826E-18 0.0025 0"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="4.25424005173618E-08"
        ixy="-2.75726870851008E-25"
        ixz="-9.91055745063801E-41"
        iyy="7.85398163397448E-08"
        iyz="1.65082098396703E-40"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec08.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec08.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint08"
    type="fixed">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="sec07" />
    <child
      link="sec08" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec09">
    <inertial>
      <origin
        xyz="-1.68051336735253E-18 0.0025 0"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="4.25424005173619E-08"
        ixy="5.74790090871454E-41"
        ixz="4.41162993361615E-24"
        iyy="7.85398163397449E-08"
        iyz="-3.31855213692167E-41"
        izz="4.25424005173619E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec09.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec09.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint09"
    type="fixed">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="sec08" />
    <child
      link="sec09" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec10">
    <inertial>
      <origin
        xyz="-3.36102673470506E-18 0.0025 0"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="4.25424005173618E-08"
        ixy="1.10290748340404E-24"
        ixz="6.89317177127524E-24"
        iyy="7.85398163397449E-08"
        iyz="5.51453741702019E-25"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec10.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec10.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint10"
    type="fixed">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="sec09" />
    <child
      link="sec10" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec11">
    <inertial>
      <origin
        xyz="0.0025 -1.73472347597681E-18 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="7.85398163397448E-08"
        ixy="-1.43222477314754E-40"
        ixz="9.45378640676979E-40"
        iyy="4.25424005173618E-08"
        iyz="2.67110406136915E-24"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec11.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec11.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint11"
    type="continuous">
    <origin
      xyz="0.011 -0.005 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="sec11" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="sec12">
    <inertial>
      <origin
        xyz="0.0025 0 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="7.85398163397449E-08"
        ixy="2.7572687085101E-25"
        ixz="1.10290748340404E-24"
        iyy="4.25424005173618E-08"
        iyz="1.37863435425505E-24"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec12.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec12.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint12"
    type="fixed">
    <origin
      xyz="0.01 0 0"
      rpy="0 0 0" />
    <parent
      link="sec11" />
    <child
      link="sec12" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec13">
    <inertial>
      <origin
        xyz="0.0025 0 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="7.85398163397448E-08"
        ixy="-2.7572687085101E-25"
        ixz="-1.10290748340403E-24"
        iyy="4.25424005173618E-08"
        iyz="1.37863435425504E-24"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec13.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec13.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint13"
    type="fixed">
    <origin
      xyz="0.01 0 0"
      rpy="0 0 0" />
    <parent
      link="sec12" />
    <child
      link="sec13" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec14">
    <inertial>
      <origin
        xyz="0.0025 0 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="7.85398163397448E-08"
        ixy="2.75726870851011E-25"
        ixz="1.10290748340403E-24"
        iyy="4.25424005173618E-08"
        iyz="1.37863435425504E-24"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec14.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec14.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint14"
    type="fixed">
    <origin
      xyz="0.01 0 0"
      rpy="0 0 0" />
    <parent
      link="sec13" />
    <child
      link="sec14" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec15">
    <inertial>
      <origin
        xyz="0.0025 0 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="7.85398163397448E-08"
        ixy="-2.7572687085101E-25"
        ixz="-1.10290748340403E-24"
        iyy="4.25424005173618E-08"
        iyz="1.37863435425504E-24"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec15.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec15.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint15"
    type="fixed">
    <origin
      xyz="0.01 0 0"
      rpy="0 0 0" />
    <parent
      link="sec14" />
    <child
      link="sec15" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec16">
    <inertial>
      <origin
        xyz="0.0025 0 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="7.85398163397448E-08"
        ixy="2.75726870851011E-25"
        ixz="1.10290748340403E-24"
        iyy="4.25424005173618E-08"
        iyz="1.37863435425504E-24"
        izz="4.25424005173618E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec16.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec16.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint16"
    type="fixed">
    <origin
      xyz="0.01 0 0"
      rpy="0 0 0" />
    <parent
      link="sec15" />
    <child
      link="sec16" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec17">
    <inertial>
      <origin
        xyz="0.0025 -1.73472347597681E-18 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="7.85398163397449E-08"
        ixy="8.96831017167883E-41"
        ixz="3.58732406867153E-40"
        iyy="4.25424005173618E-08"
        iyz="2.67110406136915E-24"
        izz="4.25424005173619E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec17.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec17.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint17"
    type="fixed">
    <origin
      xyz="0.00999999999999999 0 0"
      rpy="0 0 0" />
    <parent
      link="sec16" />
    <child
      link="sec17" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec18">
    <inertial>
      <origin
        xyz="0.0025 -1.73472347597681E-18 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="7.85398163397449E-08"
        ixy="8.96831017167883E-41"
        ixz="3.58732406867153E-40"
        iyy="4.25424005173618E-08"
        iyz="2.67110406136915E-24"
        izz="4.25424005173619E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec18.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec18.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint18"
    type="fixed">
    <origin
      xyz="0.01 0 0"
      rpy="0 0 0" />
    <parent
      link="sec17" />
    <child
      link="sec18" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec19">
    <inertial>
      <origin
        xyz="0.0025 -1.73472347597681E-18 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="7.85398163397449E-08"
        ixy="8.96831017167883E-41"
        ixz="2.86985925493723E-40"
        iyy="4.25424005173618E-08"
        iyz="2.67110406136915E-24"
        izz="4.25424005173619E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec19.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec19.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint19"
    type="fixed">
    <origin
      xyz="0.01 0 0"
      rpy="0 0 0" />
    <parent
      link="sec18" />
    <child
      link="sec19" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sec20">
    <inertial>
      <origin
        xyz="0.0025 -1.73472347597681E-18 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0015707963267949" />
      <inertia
        ixx="7.85398163397449E-08"
        ixy="8.96831017167883E-41"
        ixz="3.58732406867153E-40"
        iyy="4.25424005173618E-08"
        iyz="2.67110406136915E-24"
        izz="4.25424005173619E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec20.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try/meshes/sec20.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint20"
    type="fixed">
    <origin
      xyz="0.01 0 0"
      rpy="0 0 0" />
    <parent
      link="sec19" />
    <child
      link="sec20" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>