<?xml version="1.0"?>
<launch>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint01_position_controller 
    joint02_position_controller 
    joint03_position_controller 
    joint04_position_controller 
    joint05_position_controller 
    joint06_position_controller 
    joint07_position_controller 
    joint08_position_controller
    joint09_position_controller 
    joint10_position_controller
    joint11_position_controller 
    joint12_position_controller 
    joint13_position_controller 
    joint14_position_controller 
    joint15_position_controller 
    joint16_position_controller 
    joint17_position_controller 
    joint18_position_controller
    joint19_position_controller 
    joint20_position_controller
    joint21_position_controller 
    joint22_position_controller 
    joint23_position_controller 
    joint24_position_controller 
    joint25_position_controller 
    joint26_position_controller 
    joint27_position_controller 
    joint28_position_controller
    joint29_position_controller 
    joint30_position_controller
    joint31_position_controller 
    joint32_position_controller 
    joint33_position_controller 
    joint34_position_controller 
    joint35_position_controller 
    joint36_position_controller 
    joint37_position_controller 
    joint38_position_controller
    joint39_position_controller 
    joint40_position_controller
    joint41_position_controller 
    joint42_position_controller 
    joint43_position_controller 
    joint44_position_controller 
    joint45_position_controller 
    joint46_position_controller 
    joint47_position_controller 
    joint48_position_controller
    joint49_position_controller 
    joint50_position_controller  
    joint_state_controller"/>
    
     <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find try11)/config/joint_names_try11.yaml" command="load"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/rrbot/joint_states" />
  </node>
</launch>
